@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Rampart+One&display=swap');

*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    min-height: 100vh;
    /* background: linear-gradient(#31FFDB,#31D5FF); */
    background-image: url(images/dark-bg-2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section{
    padding: 20px 100px;
    font-family: 'Montserrat', sans-serif;
}

.everythang{
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.text-1{
    font-size: 70px;
    text-align: center;
    font-weight: 600;
}

/*------IMAGES------*/

img{
    border-radius: 10px;
}

.img-wrapper{
    margin-bottom:10px;
    margin-top:10px;
}

.left-imgs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/*------EXPAND THE TERMS THING------*/

.expand{
    padding: 10px 0;
    margin: 40px 0;
    font-style: oblique;
    cursor: pointer;   
    text-align: center;
}

/*------I AGREE THINGY------*/

.consent{
    display: block;
    padding: 6px;
    margin: 12px;
    border: 3px solid #ddd;
    background-color: #eee;
}

input {
    height: 22px;
    width: 22px;
    vertical-align: middle;
}

/*------TERMS AND CONDITIONS BOX------*/

.card{
    position: relative;
    
    width: auto;
    height: 600px;
    margin: 0 40px;
    
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    
    display: flex;
    justify-content: center;
    
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    border-left: 3px solid rgba(255, 255, 255, 0.3);
    
    backdrop-filter: blur(15px);
    
}

.card .box{
    padding: 20px 40px 20px 40px;
    
}

.card .terms-title{
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0 0 0;
    text-align: center;
}

.card .terms-text{
    margin: 20px;
    padding: 15px;
    font-size: 10px;
    
    width: auto;
    height: 300px;
    
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(65px);
    overflow: auto;

    color: rgb(123, 123, 123);
}

.hide { 
    display: none; 
}

/*------CONTINUE BUTTON------*/

.button{
    float: right;
}

.continue-btn {
    font-size: 18px;
    padding: 30px;
    width: 150px;
    margin: 5px;
    
    display: inline-block;
    border-radius: 4px;
    transition: all 0.5s;
    
    text-align: center;
    border: none;
    background-color: black;
    color: #FFFFFF;
    cursor: pointer;        
}
  
.continue-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.continue-btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.continue-btn:hover span {
    padding-right: 25px;
}

.continue-btn:hover span:after {
    opacity: 1;
    right: 0;
}